@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.custom {
    font-size: var(--text-font-size, 20px) !important;
    font-family: var(--text-font-family, 'Poppins'), sans-serif !important;
    line-height: var(--text-line-height, 1.5) !important;
}

.options-container {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-container.hidden {
  display: none;
}

.btn-options {
  cursor: pointer;
}

.options {
  background-color: #fafafa;
  border: 1px solid #00000080;
  border-radius: 7px;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 275px;
}

.options-body {
  flex-grow: 1;
  margin: 0 10px;
}

.options select {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 27px;
  margin: 0;
  padding: 0;
  width: 150px;
  -webkit-appearance: menulist;
}

.options-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.options-item label {
  font-size: 16px;
  margin-bottom: 0;
}

.options hr {
  background-color: #888888;
  border: none;
  height: 1px;
}

.options-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}

.options-title {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.options-title i {
  color: #5a349b;
}

.options-footer {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 0 10px 4px;
}

.options-footer button {
  background-color: #5a349b;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  transition: background-color 0.3s ease;
  width: 65px;
}

.options-footer button:hover {
  background-color: black;
}

.options-close-button {
  align-items: center;
  background-color: #ebebeb;
  border: none;
  border-radius: 50%;
  color: #5a349b;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
  margin-right: 10px;
  outline: none;
  padding: 10px;
  transition: background-color 0.3s ease;
  width: 25px;
}

.options-close-button:hover {
  background-color: #5a349b;
  color: white;
}

.options-close-button i {
  font-size: 15px;
}

/* Dark version */
body.text-ui-light .options {
  background-color: #212121;
  color: white;
}

body.text-ui-light .options select {
  background-color: #424242;
  color: white;
}

#tl-note, .text-left > div, ins, div[dir='ltr']{
  display: none !important;
}
